<template>
  <div class="container">
    <div class="row">
     <div class="col-md-6 offset-md-3">
      <form class="py-3" @submit.prevent="newBook">
       <div class="row">
         <div class="col-lg-6">
          <div class="form-group">
            <label>Наименование книги</label>
            <input v-model="book.name" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Автор книги</label>
            <input v-model="book.author" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Издательство</label>
            <input v-model="book.publisher" type="text" class="form-control" required>
          </div>
         </div>
         <div class="col-lg-6">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Рейтинг</label>
            <select v-model="book.stars" class="form-control" id="exampleFormControlSelect1" required>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label>Жанры</label>
            <input v-model="book.tags" type="text" class="form-control" required>
            <small class="form-text text-muted">Для более одного жанра требуется перечислять через запятую с пробелом</small>
          </div>
         </div>
       </div>
       <div class="form-group">
         <label>Год издания</label>
         <input v-model="book.year" type="text" class="form-control" required>
       </div>
       <div class="form-group">
         <label>Язык</label>
         <input v-model="book.language" type="text" class="form-control" required>
       </div>
       <div class="form-group">
         <label for="exampleFormControlTextarea1">Краткое описание книги</label>
         <textarea v-model="book.description" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
       </div>
       <div class="row">
         <div class="col-lg-6">
           <div class="form-group">
             <label>Кол-во в наличии</label>
             <input v-model="book.count" type="text" class="form-control" required>
           </div>
         </div>
         <div class="col-lg-6">
           <div class="form-group">
             <label>Кол-во в потеряных</label>
             <input v-model="book.lost" type="text" class="form-control" required>
           </div>
         </div>
         <div class="col-12">
          <div class="form-group">
            <label>Кол-во в ремонте</label>
            <input v-model="book.repair" type="text" class="form-control" required>
          </div>
         </div>
       </div>
       <button type="submit" name="button" class="btn btn-outline-primary col-md-6 offset-md-3 col-12">Добавить</button>
       </form>
     </div>
    </div>
  </div>
</template>

<script>
  import Book from './../../../static/Book.js'
  export default {
    name: 'add_book',
    data () {
      return {
        book: {
          id: null,
          name: null,
          author: null,
          description: null,
          publisher: null,
          year: null,
          tags: null,
          stars: null,
          language: null,
          count: null,
          comments: [],
          repair: null,
          lost: null
        }
      }
    },
    created () {
      console.log('Массив книг: ' + this.$parent.books.length)
      let arr = []
      if (this.$parent.books.length !== 0) {
        this.$parent.books.forEach(function (d) {
          arr.push(d.id)
        })
        this.book.id = Math.max.apply(null, arr) + 1
      } else {
        this.book.id = 1
      }
      console.log('id книги: ' + this.book.id)
    },
    methods: {
      newBook () {
        this.book.year = Number(this.book.year)
        let tempTags = this.book.tags
        this.book.tags = []
        this.book.tags = tempTags.split(', ')
        this.book.stars = Number(this.book.stars)
        this.book.count = Number(this.book.count)
        this.book.lost = Number(this.book.lost)
        this.book.repair = Number(this.book.repair)
        let temp = new Book(this.book.id, this.book.name, this.book.author, this.book.description, this.book.publisher, this.book.year, this.book.tags, this.book.stars, this.book.language, this.book.count, this.book.repair, this.book.lost, [])
        console.log(this.book)
        // let self = this
        this.$library.addBook(temp)
        // this.$parent.books.push(temp)
        this.$router.push({name: 'book_id', params: {id: this.book.id}})
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
</style>
