<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <p class="text-warning p-0 m-0">{{ tag }}</p>
            <h2>{{ book.name }}</h2>
            <ul class="list-inline">
              <li class="list-inline-item">
                <p><span class="text-muted px-1">Рейтинг</span><span class="text-warning"><i class="fas fa-star" v-for="n in book.stars"></i></span><span v-if="black_stars"><i class="fas fa-star" v-for="n in black_stars"></i></span></p>
              </li>
              <li class="list-inline-item text-muted">Отзывы: {{ book.comments.length }}</li>
              <li class="list-inline-item text-muted">Артикул: {{ book.id }}</li>
            </ul>
            <hr>
          </div>
          <div class="col-12">
            <ul class="list-unstyled">
              <li class="px-2"><p class="text-muted">Автор: <router-link class="px-2 text-primary" :to="{ name: 'book_author', params: { author: book.author }}">{{ book.author }}</router-link></p></li>
              <li class="px-2"><p class="text-muted">Издание: <span class="px-2 text-primary">{{ book.publisher }}</span></p></li>
              <li class="px-2"><p class="text-muted">Год выпуска: <span class="px-2 text-primary">{{ book.year }}</span></p></li>
              <li class="px-2"><p class="text-muted">Язык издания : <span class="px-2 text-primary">{{ book.language }}</span></p></li>
              <li>
                <p><strong>Описание:</strong></p>
                <p>{{ book.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <hr>
        <div class="row mt-4 pb-4">
          <h2 class="col-12 pb-3">Отзывы</h2>
          <div class="col-md-7 col-12">
            <div class="card">
              <div class="card-body">
                <form v-on:submit.prevent="newCom()">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Отзыв</strong></label>
                    <div class="col-sm-10">
                      <textarea name="comment" v-model="add_comment" class="form-control" id="comment" cols="30" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-12">
            <button class="btn btn-danger" @click="removeBook()">Удалить книгу</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-12" v-for="comment in book.comments">
            <div class="media py-2 pb-4">
            <img src="http://placehold.it/50x50" class="d-flex mr-3 rounded-circle" alt="">
            <div class="media-body">
              <!-- <h5>Commenter Name</h5> -->
              {{comment}}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'book',
    data () {
      return {
        books: [],
        book: {},
        param_id: null,
        tag: '',
        black_stars: null,
        add_comment: ''
      }
    },
    created () {
      this.$parent.search = ''
      this.param_id = this.$route.params.id
      this.books = this.$parent.books
      let self = this
      this.books.forEach(function (item, i) {
        if (item.id === self.param_id) {
          self.book = item
          self.tag = item.tags.join(', ')
        }
      })
      this.black_stars = 5 - this.book.stars
    },
    methods: {
      newCom () {
        this.book.addComment(this.add_comment)
        this.add_comment = ''
      },
      removeBook () {
        this.$library.removeBook(this.param_id)
        this.$router.push({name: 'index'})
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
</style>
