<template>
  <div class="container-fluid">
    <div class="row" v-if="$books.length === 0">
      <h2 class="p-2">В данный момент книг нет</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card my-2">
          <div class="card-body">
            Книг в наличии: <strong class="text-success">{{data.countBooks}}</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card my-2">
          <div class="card-body">
            Книг потряно: <strong class="text-danger">{{data.lostBooks}}</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card my-2">
          <div class="card-body">
            Книг в ремонте: <strong class="text-danger">{{data.repairBooks}}</strong>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card my-2">
          <div class="card-body">
            Средний рейтинг книг: <strong>{{data.deltaStarsBooks}}</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card my-2">
          <div class="card-body">
            Кол-во отзывов: <strong>{{data.countComments}}</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card my-2">
          <div class="card-body">
            Кол-во авторов: <strong>{{data.countAuthor.length}}</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card my-2">
          <div class="card-body">
            Кол-во различных жанров: <strong>{{data.countTags.length}}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'inventory',
    data () {
      return {
        data: null
      }
    },
    created () {
      this.data = this.$library.inventory
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
</style>
