<template>
  <div class="card" v-if="this.$parent.$parent.books.length !== 0">
    <div class="card-body">
      <h5>Жанры</h5>
      <nav class="nav flex-column">
        <router-link :to="{ name: 'book_tag', params: { tag: tag }}" v-for="tag in tags">{{ tag }} ({{counterBooksForTag(tag)}})</router-link>
      </nav>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'navTags',
    data () {
      return {
        tags: []
      }
    },
    created () {
      let i = 0
      let self = this
      while (i < this.$parent.$parent.books.length) {
        this.$parent.$parent.books[i].tags.forEach(function (item) {
          if (!self.tags.includes(item)) {
            self.tags.push(item)
          }
        })
        i++
      }
    },
    methods: {
      counterBooksForTag (getTag) {
        let counter = 0
        this.$parent.books.forEach(function (book) {
          book.tags.forEach(function (tag) {
            if (getTag === tag) {
              counter++
            }
          })
        })
        return counter
      }
    }
  }
</script>

<style>
  /*css*/
</style>
