<template>
  <div class="container-fluid">
    <div class="row" v-if="this.books.length === 0">
      <h2 class="p-2">В данный момент книг нет</h2>
    </div>
    <div class="row" v-if="this.books.length !== 0">
      <div class="col-md-10 col-12">
        <div class="row">
          <div class="col-12 mb-2">
            <h2>Все книги</h2>
          </div>
        </div>
        <div class="row align-self-stretch">

          <div class="col-md-4 col-sm-6 col-12 mt-4" v-for="book in books" :key="book.id">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <h5 class="card-title">{{ book.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ $parent.checkBooks(book) }}</h6>
                <p class="text-muted">Автор: <router-link :to="{ name: 'book_author', params: { author: book.author }}">{{ book.author }}</router-link></p>
                <p class="card-text text-truncate">{{ book.description }}</p>
              </div>
              <div class="card-footer bg-white text-center">
                <router-link class="card-link btn btn-primary col-12" :to="{ name: 'book_id', params: { id: book.id }}">Подробнее</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-12 mt-4">
        <navTags></navTags>
      </div>
    </div>
  </div>
</template>

<script>
  import navTags from './component/navTags.vue'
  export default {
    name: 'index',
    components: {
      navTags
    },
    data () {
      return {
        books: []
      }
    },
    created () {
      this.$parent.search = ''
      this.books = this.$parent.books
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
</style>
