<template>
  <div id="app">

    <nav class="navbar navbar-expand-lg mb-3 navbar-dark bg-dark">
      <router-link class="navbar-brand" :to="{ name: 'index'}">Библиотека</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" active-class="active" :to="{ name: 'index'}" exact>Все книги</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" active-class="active" :to="{ name: 'add_book'}">Добавить книгу</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" active-class="active" :to="{ name: 'inventory'}">Инвентаризация</router-link>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <div class="dropdown open">
            <input class="form-control mr-sm-2" type="search" v-model="search" placeholder="Поиск" aria-label="Search">
            <div class="dropdown-menu dropdown-toggle">
              <router-link class="dropdown-item" v-for='item in filteredList' :to="{ name: 'book_id', params: { id: item.id }}">{{ item.name }}</router-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <transition name="fade" appear  mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'library_sibsau',
    data () {
      return {
        search: '',
        books: []
      }
    },
    computed: {
      /*eslint-disable */
      filteredList () {
        if (this.books.size !== 0) {
          let search_data = this.books.filter(item => {
            return item.name.toLowerCase().includes(this.search.toLowerCase())
          })

          if (search_data.length === 0) {
            search_data = this.books.filter(item => {
              return item.author.toLowerCase().includes(this.search.toLowerCase())
            })
          }

          if (this.search === '' || this.search === ' ') {
            $('.dropdown-toggle').hide()
          } else if (search_data.length !== 0) {
            $('.dropdown-toggle').show()
          } else {
            $('.dropdown-toggle').hide()
          }

          return search_data
        }
        return ''
      }
      /* eslint-enable */
    },
    created () {
      this.books = this.$books
    },
    methods: {
      checkBooks (book) {
        if (Number(book.count) > 0) {
          return 'В наличии'
        } else {
          return 'Нет в наличии'
        }
      }
    }
  }
</script>

<style>
  /* CSS */
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
  .dropdown>.dropdown-toggle::after {
    display: none;
  }
</style>
